<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-08-03T13:26:27Z</date>
	<key>WorkspacePath</key>
	<string>/Users/aldoyh/Projects/ws-tayet/tayet_app_v3/macos/Runner.xcworkspace</string>
</dict>
</plist>
